<footer class="bg-secondary-subtle py-3">
    <div class="container">
        <div>
            <h3>Get the FreshCart app</h3>
            <p class="text-muted">We will send you a link, open it on your phone to download the app.</p>
        </div>


        <form>
            <div class="row">
                <div class="col-10">
                    <input class="form-control focus-ring focus-ring-success" type="text" placeholder="Email .."
                        name="subscriptionEmail" id="subscriptionEmail">
                </div>
                <div class="col-2">
                    <button class="btn btn-success w-100">Share App Link</button>
                </div>
            </div>
        </form>
        <div class="border-secondary-subtle border-top border-bottom mt-5 mb-5 row">
            <div class="col-4">
                <div class="d-flex align-items-center justify-content-around">
                    <h6 class="fw-bold">Payment Partners</h6>
                    <img src="assets/payment-icons/amazon-pay.png" style="width: 10%;" alt="">
                    <img src="assets/payment-icons/american.png" style="width: 10%;" alt="">
                    <img src="assets/payment-icons/mastercard.png" style="width: 10%;" alt="">
                    <img src="assets/payment-icons/paypal.png" style="width: 10%;" alt="">
                </div>
            </div>
            <div class="col-6 offset-2">
                <div class="d-flex align-items-center justify-content-end">
                    <h6 class="fw-bold me-4">Get deliveries with FreshCart</h6>
                    <button class="btn btn-dark me-2"><i class="fa-brands fa-apple"></i> App Store</button>
                    <button class="btn btn-dark"><i class="fa-brands fa-google-play"></i> Google Play</button>
                </div>
            </div>
        </div>
    </div>
</footer>