<div class="container">
    <form class="w-75 mx-auto my-5" [formGroup]="loginForm" (submit)="sendData()">
        <legend>Login:</legend>
        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input [ngClass]="validStatus('email')" formControlName="email" type="email" class="form-control" placeholder="Enter Your Email">
        </div>
        <validation-errors [formName]="loginForm" controlName="email"></validation-errors>


        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input [ngClass]="validStatus('password')" formControlName="password" type="password" class="form-control" placeholder="Enter Your Password">
        </div>
       <validation-errors [formName]="loginForm" controlName="password"></validation-errors>


        @if(errorMessage){
            <div class="alert alert-danger my-3">{{errorMessage}}</div>
        }

        
        <div class="text-center">
            <button class="btn btn-success" [disabled]="loginForm.invalid || isButtonSubmit">
                Login
                @if(isButtonSubmit) {
                    <i class="fa-solid fa-spinner fa-spin"></i>
                }
                
            </button>

        

        </div>
        <a routerLink="/forgot-password" class="link-primary ">Forgot Password</a>
    </form>
</div>


