<div>
    <app-slider></app-slider>
</div>
<div class="mb-5">
    <app-category-slider></app-category-slider>
</div>



<div class="container mb-5">

    <div class="row g-4">
        @if (allProducts.length != 0) {
            <div class="col-12 mt-5">
                <h3 class="text-center">Products</h3>
            </div>
        }
        @for (product of allProducts; track $index) {

        
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="product cursor-pointer text-center p-3 position-relative border border-1">
                    <div routerLink="/product/{{product._id}}">
                        <img [src]="product.imageCover" class="img-fluid" alt="">
                        <h6 class="text-main">{{product.category.name}}</h6>
                        @if (product.title.split(' ').length > 3) {
                            <h4 class="text-dark">{{product.title.split(' ').slice(0, 3).join(' ')}}..</h4>
                        }
                        @else {
                            <h4 class="text-dark fw-bolder">{{product.title}}</h4>
                        }
                        <div class="d-flex justify-content-between align-content-center">
                            <div class="fw-bold">{{product.price}} EGP</div>
                            <div><i class="fa-solid fa-star rating-color"></i> {{product.ratingsAverage}}</div>
                        </div>
                    </div>
                    
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div class="flex-grow-1">
                            <button class="btn btn-success btn-block w-100" (click)="addToCart(product)"><i class="fa-solid fa-cart-plus"></i>  Add To Cart</button>
                        </div>
                        <div>
                            @if (product.isWished == true) {
                                <button class="btn bg-transparent hover-danger text-danger"><i class="fa-solid fa-heart fs-3"></i></button>
                            }@else {
                                <button class="btn bg-transparent hover-danger" (click)="addToWishList(product._id)"><i class="fa-solid fa-heart fs-3"></i></button>
                            }
                        </div>
                    </div>
               
                </div>
            </div>
        }
    </div>
</div>