<div class="container">
    <form class="w-75 mx-auto my-5" [formGroup]="registerForm" (submit)="sendData()">
        <legend>Register Now:</legend>
        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <!-- <input [ngClass]="{'is-valid':!registerForm.get('name')?.errors && registerForm.get('name')?.dirty, 'is-invalid': registerForm.get('name')?.errors && registerForm.get('name')?.dirty}" formControlName="name" type="text" class="form-control" placeholder="Enter Your Name"> -->
            <input [ngClass]="validStatus('name')" formControlName="name" type="text" class="form-control" placeholder="Enter Your Name">
        </div>
        <validation-errors [formName]="registerForm" controlName="name"></validation-errors>


        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input [ngClass]="validStatus('email')" formControlName="email" type="email" class="form-control" placeholder="Enter Your Email">
        </div>
        <validation-errors [formName]="registerForm" controlName="email"></validation-errors>


        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input [ngClass]="validStatus('password')" formControlName="password" type="password" class="form-control" placeholder="Enter Your Password">
        </div>
       <validation-errors [formName]="registerForm" controlName="password"></validation-errors>


        <div class="mb-3">
            <label for="" class="form-label">Repassword</label>
            <input [ngClass]="validStatus('rePassword')" formControlName="rePassword" type="password" class="form-control" placeholder="Confirm Password">
        </div>
        <validation-errors [formName]="registerForm" controlName="rePassword"></validation-errors>

        @if(errorMessage){
            <div class="alert alert-danger my-3">{{errorMessage}}</div>
        }

        
        <div class="text-center">
            <button class="btn btn-success" [disabled]="registerForm.invalid || isButtonSubmit">
                Register
                @if(isButtonSubmit) {
                    <i class="fa-solid fa-spinner fa-spin"></i>
                }
                
            </button>

        

        </div>
        
    </form>
</div>


